.nav-menu {

	&__item {
		margin-right: 40px;

		@media all and (max-width: 1200px) {
			margin-right: 25px;
		}
	}

	&__phone {
		display: none;

		@media all and (max-width: 1200px) {
			display: block;
		}
	}
}